
<mat-toolbar>
  <div>
  <h1>{{ title }}</h1>
  <p class="subtitle">Angular UI component for train controller</p>
  </div>
</mat-toolbar>
  <div class="container">

  <!-- Classic speed gauge  -->
  <mat-card class="component-card">
      <mat-card-header>
      <mat-card-title>Classic speed gauge component</mat-card-title>
      </mat-card-header>
      <mat-card-content class="cui-example-container">
          <div class="cui-component-example">
              <cui-classic-speed-gauge [unit]="classicSpeedGaugeUnit" [maxSpeed]="classicSpeedGaugeMaxSpeed" [value]="classicSpeedGaugeValue"></cui-classic-speed-gauge>
          </div>
          <div class="cui-inputs">
              <mat-form-field>
                  <input matInput placeholder="unit" [(ngModel)]="classicSpeedGaugeUnit">
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="maxValue" [(ngModel)]="classicSpeedGaugeMaxSpeed">
              </mat-form-field>

              <div class="slider-label">value</div>
              <mat-slider [max]="1" [min]="0" [step]="0.01"  [thumbLabel]="true" [(ngModel)]="classicSpeedGaugeValue"></mat-slider>

          </div>
      </mat-card-content>
      <mat-card-actions>
      <a mat-button color="primary" href="https://www.npmjs.com/package/controller-ui#classic-speed-gauge">Documentation</a>
      </mat-card-actions>
  </mat-card>

  <!-- Classic brake gauge  -->
  <mat-card class="component-card">
      <mat-card-header>
      <mat-card-title>Classic brake gauge component</mat-card-title>
      </mat-card-header>
      <mat-card-content class="cui-example-container">
          <div class="cui-component-example">        
              <cui-classic-brake-gauge #brakeGauge class="brake-panel" [value]="classicBrakeGaugeValue" [maxValue]="classicBrakeGaugeMaxValue" [secValue]=(classicBrakeGaugeSecValue) [maxSecValue]="classicBrakeGaugeMaxSecValue" [maxGraduation]="classicBrakeGaugeMaxGraduation" [unit]="classicBrakeGaugeUnit"></cui-classic-brake-gauge>
          </div>
          <div class="cui-inputs">
              <mat-form-field>
                  <input matInput placeholder="unit" [(ngModel)]="classicBrakeGaugeUnit">
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="maxGraduation" [(ngModel)]="classicBrakeGaugeMaxGraduation">
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="maxValue" [(ngModel)]="classicBrakeGaugeMaxValue">
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="maxSecValue" [(ngModel)]="classicBrakeGaugeMaxSecValue">
              </mat-form-field>

              <div class="slider-label">value</div>
              <mat-slider [max]="1" [min]="0" [step]="0.01"  [thumbLabel]="true" [(ngModel)]="classicBrakeGaugeValue"></mat-slider>

              <div class="slider-label">secValue</div>
              <mat-slider [max]="1" [min]="0" [step]="0.01"  [thumbLabel]="true" [(ngModel)]="classicBrakeGaugeSecValue"></mat-slider>

          </div>
      </mat-card-content>
      <mat-card-actions>
          <a mat-button color="primary" href="https://www.npmjs.com/package/controller-ui#classic-brake-gauge">Documentation</a>
      </mat-card-actions>
  </mat-card>

  <!-- Classic function display  -->
  <mat-card class="component-card">
      <mat-card-header>
      <mat-card-title>Classic function display component</mat-card-title>
      </mat-card-header>
      <mat-card-content class="cui-example-container">
          <div class="cui-component-example">
              <cui-classic-function-display [functions]="classicFunctionDisplayGroup"></cui-classic-function-display>
          </div>
          <div class="cui-inputs">
              <p>
                  <mat-slide-toggle [checked]="classicFunctionDisplayValue0" (change)="classicFunctionDisplayToggleFn(0)">Fn0</mat-slide-toggle>
              </p>
              <p>
                  <mat-slide-toggle [checked]="classicFunctionDisplayValue1" (change)="classicFunctionDisplayToggleFn(1)">Fn1</mat-slide-toggle>
              </p>
          </div>
      </mat-card-content>
      <mat-card-actions>
          <a mat-button color="primary" href="https://www.npmjs.com/package/controller-ui#classic-function-display">Documentation</a>
      </mat-card-actions>
  </mat-card>

  <!-- Classic direction handle -->
  <mat-card class="component-card">
      <mat-card-header>
      <mat-card-title>Classic direction handle component</mat-card-title>
      </mat-card-header>
      <mat-card-content class="cui-example-container">
          <div class="cui-component-example">
              <cui-classic-direction-handle component-type="tool" [beginFrom]="classicDirectionHandleBeginFrom" [steps]="classicDirectionHandleSteps" [(value)]="classicDirectionHandleValue"></cui-classic-direction-handle>
          </div>
          <div class="cui-inputs">
              <mat-form-field>
                  <input matInput placeholder="beginFrom" [(ngModel)]="classicDirectionHandleBeginFrom">
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="steps" [(ngModel)]="classicDirectionHandleSteps">
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="value" [(ngModel)]="classicDirectionHandleValue">
              </mat-form-field>
          </div>
      </mat-card-content>
      <mat-card-actions>
          <a mat-button color="primary" href="https://www.npmjs.com/package/controller-ui#classic-direction-handle">Documentation</a>
      </mat-card-actions>
  </mat-card>

  <!-- Classic regulator handle -->
  <mat-card class="component-card">
      <mat-card-header>
      <mat-card-title>Classic regulator handle component</mat-card-title>
      </mat-card-header>
      <mat-card-content class="cui-example-container">
          <div class="cui-component-example">
              <cui-classic-regulator-handle component-type="tool" [graduations]="classicRegulatorHandleGraduations" [steps]="classicRegulatorHandleSteps" [(value)]="classicRegulatorHandleValue"></cui-classic-regulator-handle>
          </div>
          <div class="cui-inputs">
              <mat-form-field>
                  <input matInput placeholder="graduations" [(ngModel)]="classicRegulatorHandleGraduations">
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="steps" [(ngModel)]="classicRegulatorHandleSteps">
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="value" [(ngModel)]="classicRegulatorHandleValue">
              </mat-form-field>
          </div>
      </mat-card-content>
      <mat-card-actions>
          <a mat-button color="primary" href="https://www.npmjs.com/package/controller-ui#classic-regulator-handle">Documentation</a>
      </mat-card-actions>
  </mat-card>

  <!-- Classic toggle switch -->
  <mat-card class="component-card">
      <mat-card-header>
      <mat-card-title>Classic toggle switch component</mat-card-title>
      </mat-card-header>
      <mat-card-content class="cui-example-container">
          <div class="cui-component-example">
              <cui-classic-toggle-switch component-type="tool" [label]="classicToggleSwitchLabel" [labelPosition]="classicToggleSwitchLabelPosition" [(value)]="classicToggleSwitchValue"></cui-classic-toggle-switch>
          </div>
          <div class="cui-inputs">
              <p>
                  <mat-slide-toggle [checked]="classicToggleSwitchValue" (change)="classicToggleSwitchToggle()">Value</mat-slide-toggle>
              </p>
              <mat-form-field>
                  <input matInput placeholder="label" [(ngModel)]="classicToggleSwitchLabel">
              </mat-form-field>
              <mat-form-field>
                  <mat-select [(value)]="classicToggleSwitchLabelPosition">
                      <mat-option value="top">Top</mat-option>
                      <mat-option value="bottom">Bottom</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
      </mat-card-content>
      <mat-card-actions>
          <a mat-button color="primary" href="https://www.npmjs.com/package/controller-ui#classic-toggle-switch">Documentation</a>
      </mat-card-actions>
  </mat-card>

  <!-- Classic round button -->
  <mat-card class="component-card">
    <mat-card-header>
    <mat-card-title>Classic round button component</mat-card-title>
    </mat-card-header>
    <mat-card-content class="cui-example-container">
        <div class="cui-component-example">
            <cui-classic-round-button [color]="classicRoundButtonColor" (press)="press()">
                <span class="material-icons">
                    warning
                </span>
            </cui-classic-round-button>
        </div>
        <div class="cui-inputs">
            <p>
                Event press {{isPress}}
            </p>
            <mat-form-field>
                <input matInput placeholder="Color" [(ngModel)]="classicRoundButtonColor">
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button color="primary" href="https://www.npmjs.com/package/controller-ui#classic-round-button">Documentation</a>
    </mat-card-actions>
</mat-card>

</div>
